{
    "editor.formatOnSave": true,
    "prettier.semi": false,
    "prettier.javascriptEnable" : ["javascript", "javascriptreact"],
    "printWidth" : 100,
    "prettier.useTabs": false,
    "tabWidth": 4
}