$iconSize : 25px;
$divideLineColor : rgb(231, 231, 231);

.detail-bottom{
    &--heart {
        width: $iconSize;
        height: fit-content;
        padding-right: 15px;
    }

    &--desc {
        padding-left: 15px;
        border-left: 1px solid $divideLineColor;

        &--price {
            font-size: 16px;
            font-weight: bold;
        }

        &--suggestion {
            font-size: 13px;
            margin-top: 3px;
            color: rgb(94, 94, 94);
        }
    }

    &--button {
        margin-left: auto;
        justify-content: end;
        background-color: #ea6a35;
        border: 0;
        border-radius: 6px;
        padding: 0;
        height: 40px;
        width: 80px;
        color: white;
        font-weight: bold;
        font-size: 15px;
    }
}