@import 'toolbar.scss';

$toolbarHeight : 50px;
$bottomNavigationHeight : 55px;

#detail {
    display: grid;
    height: 100%;
    grid-template-columns: 100%;
    grid-template-rows: $toolbarHeight 1fr $bottomNavigationHeight;
}

.body {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    overflow: auto;

    &::-webkit-scrollbar { 
        display: none;
        width: 0 !important;
    }
}