@import 'toolbar.scss';

$toolbarHeight : 50px;
$bottomNavigationHeight : 72px;
$divideLineColor : rgb(231, 231, 231);

#detail {
    display: grid;
    height: 100%;
    grid-template-columns: 100%;
    grid-template-rows: $toolbarHeight 1fr $bottomNavigationHeight;
}

#detail-body {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    overflow: scroll;

    &::-webkit-scrollbar { 
        display: none;
        width: 0 !important;
    }
}

#detail-bottom {
    display: flex;
    align-items: center;
    padding: 0 15px;
    border-top: 1px solid $divideLineColor;
}