$divideLineColor : rgb(231, 231, 231);
$imageSize : 100px;
$itemMargin : 15px;
$itemHeight : 100px;

.home--item {
    display: flex;
    border-bottom: 0.1px solid $divideLineColor;
    height: $itemHeight;
    padding-top: $itemMargin;
    padding-bottom: $itemMargin;
    margin-left: $itemMargin;
    margin-right: $itemMargin;

    &--img {
        border: 0.1px solid $divideLineColor;
        border-radius: 8px;
        width: $imageSize;
        height: $imageSize;
    }

    &--content {
        margin-left: $itemMargin;

        &--name {
            margin-top: 4px;
            font-size: 16px;
            font-weight: 400;
        }
    
        &--location {
            margin-top: 5px;
            font-size: 11px;
            color: rgb(148, 148, 148);
        }
    
        &--price {
            margin-top: 7px;
            font-size: 16px;
            font-weight: 700;
        }
    }
}