.more-item {
    &--img {
        width: 160px;
        height: 130px;
        border-radius: 6px;
        object-fit: cover;
    }

    &--name {
        font-size: 14px;
        margin-top: 7px;
    }

    &--price {
        font-size: 14px;
        margin-top: 7px;
        margin-bottom: 20px;
        font-weight: 600;
    }
}