$divideLineColor : rgb(231, 231, 231);
$imageSize : 100px;
$itemMargin : 15px;
$itemHeight : 100px;

.home--item {
    display: flex;
    border-bottom: 0.1px solid $divideLineColor;
    height: $itemHeight;
    padding-top: $itemMargin;
    padding-bottom: $itemMargin;
    margin-left: $itemMargin;
    margin-right: $itemMargin;

    &--img {
        border: 0.1px solid $divideLineColor;
        border-radius: 5px;
        width: $imageSize;
        height: $imageSize;
    }

    &--content {
        margin-left: $itemMargin;
    }
}