$divideLineColor : rgb(231, 231, 231);
$iconSize : 18px;

.toolbar {
    display: grid;
    background-color: white;
    border-bottom: 0.1px solid $divideLineColor;
    margin: 0;
    grid-template-columns: 1fr 100px 1fr;
    font-size: 17px;
    font-weight: 600;

    &--left {
        display: flex;
        margin-left: 20px;
        align-items: center;
    }
    &--title {
        text-align: center;
    }
    &--right {
        display: flex;
        margin-left: auto;
        margin-right: 20px;
        justify-content: center;
        align-items: center;
    }
    &--item {
        width: $iconSize;
        margin-left: 16px;
        height: fit-content;
    }
}