$toolbarHeight : 50px;
$divideLineColor : rgb(199, 199, 199);

.toolbar {
    display: grid;
    background-color: white;
    border-bottom: 0.1px solid $divideLineColor;
    margin: 0;
    height: $toolbarHeight;
    line-height: $toolbarHeight;
    grid-template-columns: 1fr 100px 1fr;
    font-size: 17px;
    font-weight: 600;

    &--left {
        display: flex;
        margin-left: 20px;
    }
    &--title {
        text-align: center;
    }
    &--right {
        display: flex;
        margin-left: auto;
        margin-right: 20px;
        justify-content: center;
        align-items: center;
    }
    &--item {
        margin-left: 10px;
        width: 20px;
        margin-left: 12px;
        height: fit-content;
    }
}